[build]
target-dir = "target"

[alias]
uefi = "uefi-debug"
uefi-debug = "build -p uefi-loader --target x86_64-unknown-uefi"
uefi-release = "build -p uefi-loader --release --target x86_64-unknown-uefi"
kernel = "kernel-debug"
kernel-debug = "build -p kernel --target x86_64-unknown-none"
kernel-release = "build -p kernel --release --target x86_64-unknown-none"

[target.x86_64-unknown-uefi]
rustflags = ["-C", "panic=abort"]
